*{
    margin: 50;
    padding:3 80;
    font-family: 'Garamond',serif;
    background-color: blanchedalmond;
  }

.main{
    padding-top: 2rem;
}
  
  table, th, td{
    border: 1px solid black;
    border-radius: 10px
  }

  th, td{
    text-align: center;
  }

  h1{
    text-align: center;
  }
.main1{
  text-align: center;
}
  .inside1
  {
    text-align: center;
  }
  h2{
    text-align: center;
  }
  .inside{
    margin-left: 13rem;
    margin-right: 13rem;
    font-size: 20px;

  }
  table{
    text-align: center;
  }
  .main{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
  }

  .class{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5rem;
  }
  